html:hover {
    background-color: black;
    alpha: 0;
}

body {
    margin: 100px;
    text-align: center;
    background-color: #333;
}

.extreme {
    background-color: #555;
    border-radius: 10px;
    width: 50%;
    margin: 30px auto;
    padding: 10px;
}

.navzone {
    background-color: #777;
    border-radius: 5px;
    margin: 10px auto;
    padding: 20px;
    width: 75%; 
}

h1, h2, h3, p {
    color: #EEE;
    font-family: sans-serif;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 16pt;
}

p {
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: red;
}

ul {
    padding: 10px;
    background-color: darkgray;
}

li {
    margin: 10px;
    padding: 5px 20px;
    background-color: gray;
    display: block;
}
