body {
    margin: 50px;
    text-align: center;
    background-color: #EEE;
}

.extreme {
    background-color: #F67E7D;
    border-radius: 10px;
    width: 50%;
    margin: 30px auto;
    padding: 10px;
}

.navzone {
    background-color: #82FF9E;
    border-radius: 5px;
    margin: 10px auto;
    padding: 20px;
    width: 75%; 
}

h1, h2, h3, p {
    color: #333;
    font-family: "Times New Roman";
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 16pt;
}

p {
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: lightsteelblue;
}

ul {
    padding: 0px;
    background-color: darkgray;
}

li {
    margin: 10px;
    padding: 5px 20px;
    background-color: gray;
    display: inline-block;
}
