body {
    margin: 100px;
    text-align: center;
}

h1 {
    font-size: 24pt;
    font-family: serif;
}

h2 {
    font-size: 20pt;
    font-family: serif;
}

h3 {
    font-size: 16pt;
    font-family: serif;
}

p {
    font-size: 12pt;
    font-family: sans-serif;
}

a {
    text-decoration: underline;
    color: red
}

ul {
    margin: auto;
    padding: 0px;
    background-color: darkgray;
    width: 200px;
    padding: 10px;
}

li {
    margin: 10px;
    padding: 5px 20px;
    background-color: gray;
    display: block;
}
